<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="static/aboutus.css">
</head>
<body>
    <nav class="navbar">
        <div class="container">
            <div class="navbar-left">
                <!--<img src="your-image.jpg">-->
            </div>
            <div class="navbar-right">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="#">About Us</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <div class="content">
        <div class="container">
            <div class="about-section">
                <h1>About Us</h1>
                <p>Drowsiness Detection System team is a team dedicated to enhancing safety on the roads by detecting and alerting drivers when they show signs of drowsiness. </p>
                <p>Mission: Our mission is to prevent accidents caused by drowsy driving by providing an effective and reliable system that monitors driver alertness in real-time.</p>
                <p>Vision: At Drowsiness Detection System, we envision a future where road accidents due to drowsy driving are significantly reduced, leading to safer journeys for all.</p>
                <p>Values: At the core of our project are values of innovation, safety, and responsibility. We're committed to leveraging technology to save lives and protect communities.</p>
                <span class="learn-more"><a href="https://en.wikipedia.org/wiki/Driver_drowsiness_detection" target="_blank">Learn More</a></span>
            </div>
            <div class="image-section">
                <img src="static/image/laptop.jpg" >
            </div>
        </div>
    </div>
    <footer class="footer">
        <div class="container">
            <div class="team-members">
                <div class="team-grid">
                    <div class="team-member">
                        <span class="name">Dr. Sarika Hegde</span>
                        <span class="specialization">Professor</span>
                    </div>
                    <div class="team-member">
                        <span class="name">Ms. Jayapadmini Kanchan</span>
                        <span class="specialization">Assistant Professor</span>
                    </div>
                    <div class="team-member">
                        <span class="name">Deepthi</span>
                        <span class="specialization">CSE Student</span>
                    </div>
                    <div class="team-member">
                        <span class="name">Devishree Bangera</span>
                        <span class="specialization">CSE Student</span>
                    </div>
                </div>
            </div>
        </div>
    </footer>
