<!DOCTYPE html>
<html>
<head>
    <title>Drowsiness Detection</title>
    <link rel="stylesheet" href="static/home.css">

</head>
<body>

<header>
<nav>
    <div class = "brand">Drowsiness Detection</div>
<div class="menu">
    <a href="#">Home</a>
    <a href="/aboutus">About Us</a>
</div>
</nav>

<section class="h-txt">
    <h1>Drive Safe!</H1>
        <a href="/start_detection" class="btn">Get started!</a>

</section>
</header>

<script>
    function startDetection() {

        var xhr = new XMLHttpRequest();
        xhr.open("GET","/start_detection",true);
        xhr.send();
    }
</script>

</body>
</html>